{% extends 'base.html.twig' %}

{% block title %}Marie Barbé Diet{% endblock %}

{% block body %}
    {% for review in reviews %}       
        <div id="review">
            <h3>{{ review.title }}</h3>
            <p>{{ review.content }}</p>
            <h4>{{ review.author }}</h4>
        </div>
    {% endfor %}
    {% if app.user %}
        <a href="{{path("app_home_createReview")}}">Laisser un avis</a>
    {% endif %}
{% endblock %}
