{% extends 'base.html.twig' %}

{% block title %}Marie Barbe Avis{% endblock %}

{% block body %}
    <section class="form">
        <h2>Modifier votre avis</h2>
        {{form_start(reviewForm)}}
            {{ form_row(reviewForm.title, {
                label: 'Titre'
            }) }}
            {{ form_row(reviewForm.content, {
                label: 'Avis'
            }) }}
           <button>
                Envoyer
           </button>
        {{form_end(reviewForm)}}
        <div class="space"></div>
        <div class="space"></div>
        <div class="space1"></div>
    </section>
{% endblock %}