#booking
{
    width: 100%;

    >h2 
    {
        width: 100%;
        text-align: center;
        font-family: "playfair";
        font-size: 2.5em;
        margin-bottom: 1.5em;
        margin-top: 1em;
    }
    >div
    {
        @include flex($dir:row, $align: flex-start);
        margin-bottom: 40px;
        width: 100%;
        
        >div:first-child
        {
            font-family: "playfair";
            width: 40%;
            @include flex;
            
            ul 
            {

                li
                {
                    margin-bottom: 15px;
                    
                    th 
                    {
                        padding-right: 10px;
                        padding-left: 60px;
                    }
                    .greentea
                    {
                        color: $greentea;
                        font-size: 1.7em;
                        text-shadow: 2px 2px 4px #000000;
                        margin-right: 5Px;
                    }
                    .darkgreen
                    {
                        color: $darkgreen;
                        font-size: 1.7em;
                        text-shadow: 2px 2px 4px #000000;
                        margin-right: 5px;
                    }
                    .purple
                    {
                        color: $purple;
                        font-size: 1.7em;
                        text-shadow: 2px 2px 4px #000000;
                        margin-right: 5Px;
                    }
                }
                    
            }
            >div
            {
                background-color: $greentea;
                border-radius: 8px;
                border: 2px solid $darkgreen;
                padding-top: 20px;
                text-align: center;
            }
        }
        >div:last-child
        {
            width: 60%;
            height: 60vh;
            padding-right: 40px;
            h2 
            {
                text-transform: capitalize;
                font-family: "playfair";
            }
        }
    }
}