@font-face {
    font-family: "romanesco";
    src: url(../../public/fonts/Romanesco.ttf);
}

@font-face {
    font-family: "amaticSCb";
    src: url(../../public/fonts/AmaticSCBold.ttf);
}

@font-face {
    font-family: "amaticSC";
    src: url(../../public/fonts/AmaticSCRegular.ttf);
}

@font-face {
    font-family: "playfair";
    src: url(../../public/fonts/PlayfairDisplay.ttf);
}

@font-face {
    font-family: "playfairi";
    src: url(../../public/fonts/PlayfairDisplayItalic.ttf);
}

@font-face {
    font-family: "playfairb";
    src: url(../../public/fonts/PlayfairDisplayBold.ttf);
}