header
{
    font-family: "playfairb";
    color: $darkgreen;
    width: 100%;
    height: 8em;
    background-color: $greentea;
    border-bottom: 3px solid $darkgreen;

    nav 
    {
        @include flex ($dir:row, $just: space-between);
        height: 100%;
        width: 100%;
        >div
        {
            @include flex ($dir:row, $just: flex-start);
            width: 20%;
            margin-left: 0.4em;
            
            img 
            {
                height: 110px;
            }
            >div
            {
                height: 100%;
                padding-top: 4.9em;
                padding-left: 0.3em;

                p 
                {
                    font-size: 0.8em;
                }

            }
        }
        
        ul 
        {
            width: 50%;
            @include flex ($dir:row, $just: flex-end);
            font-size: 1.3em;
            
            li 
            {
                margin-right: 4em;

            }
            a 
            {
                color: $darkgreen;
                font-size: 1.3em;
            }
            
        }
    }
}