@media screen and (min-width:2000px)
{
    section
    {
        min-height: 63.5vh;
    }
}
// -------------------------------

@media screen and (max-width:1100px)
{
    #appointment
    {
        height: 51em;

        >div
        {
            padding: 6em 30em;
        }
    }
// ------------------------------------------
    header
    {
        nav
        {
            >div:first-child
            {
                >div 
                {
                    h1 
                    {
                        font-size: 1.1em;
                        padding-top: 0em;
                        padding-bottom: 0.8em;
                    }
                }
            }
            >div:nth-child(2)
            {
                position: fixed;
                visibility: hidden;
                width: 100%;
                height: 100vh;
                background-color: $greentea;
                z-index: 4;
                top: 0;
                @include flex;

                ul 
                {
                    @include flex($dir: column, $just: space-between);
                    // margin-top: 300px;
                    height: 40%;
                    width: 100%;
                    position:relative;
                    z-index: 6;
                    top: 0px;

                    
                    
                    li 
                    {
                        display: none;
                        position: relative;
                        width: 100%;
                        text-align: center;
                        z-index: 6;  
                        margin-right: 0px;
                        height: 20px;
                        
                        a 
                        {
                            font-size: 2em;
                        }
                    }
                }
            } 
        }
        #burger
        {
            display: block;
            font-weight: 200;
            font-size: 2em;
            z-index: 6;
            position: absolute;
            top:42px;
            right: 50px;
            
            &:hover
            {
                cursor: pointer;
            }
        }
        #cross
        {
            display: none;
            font-weight: 200;
            font-size: 2.5em;
            z-index: 6;
            right: 50px;
            top:37px;
            // margin-right: 50px;
            position: fixed;

            &:hover
            {
                cursor: pointer;
            }
        }
    }
//   ---------------------------------------
    #firstview 
    {
        
        >div:first-child 
        {
            height: 40em;
            @include flex;

            img 
            {
                margin-top: 8em;
                height: 400px;
            }

            >div 
            {

                height: 400px;
                width: 460px;
                left: 6em;
                top: -4em;
                margin-bottom: 5em;
                div
                {   
                    height: 100%;
                    padding: 10px;

                    p 
                    {
                        margin-bottom: 1em;
                    }
                    a 
                    {
                        padding: 0.3em 0.7em;
                    }
                }
                
            }
        }
    }
    // ----------------------------------------------
    #presentation 
    {
        width: 100%;
        p 
        {
            width: 80%;
        }
    }
    
    // ----------------------------------------------
    #profile 
    {
        #infouser
        {
            a, button
            {
                font-size: 1.1em;
            }
        }
        .recipe 
        {
            @include flex;
            width: 85%;
            
            >div:first-child 
            {
                width: 100%;
                
                h3 
                {
                    font-size: 5.4em;
                }
                img 
                {
                    width: 85%;
                }
                >div
                {
                    width: 85%;
                    margin-bottom: 40px;

                    >p 
                    {
                        font-size: 2em;
                        line-height: 50px;
                        width: 50%;
                    }
                    div 
                    {
                        p 
                        {
                            font-size: 3em;
                        }
                    }
                }
            }
            >div:last-child
            {
                width: 100%;
                height: 100%;
                border-top: 1px solid $purple;           
                border-right: 0px solid $purple;
                text-align: center;

                h3 
                {
                    font-size: 3.2em;
                    font-weight: 400;
                    text-align: center;
                    margin-bottom: 20px;
                }
                p 
                {
                    width: 80%;        
                    font-family: "playfair";
                    font-size: 1.5em;
                    margin-bottom: 40px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        } 
        .post
        {
            width: 85%;
        }    
    } 
    // ----------------------------------------------

    // ----------------------------------------------
    #usercategories > div 
    {
        padding: 3em 0em 0em 0em;
        .categorycard
        {
            flex-wrap: wrap;
            margin-right: 10px;
            margin-left: 10px;
        } 
    } 
    // ----------------------------------------------
    footer 
    {

        >div:first-child
        {
            a 
            {
                margin-top: 1em;
                margin-left: 1em;
                margin-right: 1em;
                font-size: 2em;
                color: white;
            }
        }
        >div:nth-child(2)
        {
            @include flex;
            font-size: 1em;
            
            >div
            {
                text-align: center;
                margin-bottom: 10px;
            }  
            >div:nth-child(2)
            {  
                img 
                {
                    margin-left: 7px;
                    width: 28px;
                    
                }
                a 
                {
                    color: white;
                }
            }
        }  
    }
    // ---------------------------------
    #booking
    {

        >div
        {
            >div:first-child
            {
                order: 2;
                width: 100%;
                flex-direction: row;
                padding-right: 40px;
                padding-left: 40px;

                ul 
                {
                    margin-right: 10px;

                    li 
                    {
                        margin-bottom: 10px ;

                        th 
                        {
                            padding-right: 0px;
                            padding-left: 20px;
                        }
                    }
                }
                >div 
                {
                    margin-left: 10px;
                    padding-top: 0px;

                }
            }
            >div:last-child
            {
                order: 1;
                width: 100%;
                padding-left: 40px;
                padding-bottom: 0px;
            }
        }
    }
    
}
// ---------------------------------
@media screen and (max-width:800px)
{
    #appointment
    {
        height: 55em;

        >img 
        {
            object-fit: cover;
            height: 100%;
        }
        >div
        {
            @include flex;
            padding: 30px 0px 10px 0px;

            >div
            {

                .appointmentcard
                {
                    text-align: center;
                    
                    ul 
                    {
                        p 
                        {
                            font-size: 1.2em;
                        }
                    }
                }
            }

            >div:nth-child(2)
            {
                position: static;
                margin-top: 30px;
            }
        }
    }
// ------------------------------------------
    header
    {
        nav
        {
            ul 
            {
                
                li 
                {
                    display: none;
                    position: absolute;
                    z-index: 2;                
                }
            }
        } 
        #burger
        {
            display: block;
            font-weight: 200;

            &:hover
            {
                cursor: pointer;
            }
        }
        #cross
        {
            // display: block;
            font-weight: 200;
            font-size: 3em;

            &:hover
            {
                cursor: pointer;
            }
        }
    }
//   ---------------------------------------
    #firstview 
    {
        
        >div:first-child 
        {
            @include flex($dir:column);

            img 
            {
                height: 320px;
            }
            >div 
            {
                position: relative;
                left: 0em;
                
                
            }
        }
    }
    
    // ----------------------------------------------
    #profile 
    {
        #infouser
        {
            a, button
            {
                font-size: 2,5em;
            }
        }
        .recipe 
        {        
            >div:first-child 
            {

                >div
                {


                    >p 
                    {
                        font-size: 1.6em;
                        
                    }
                    div 
                    {
                        p 
                        {
                            font-size: 2.3em;
                        }
                    }
                }
            }
            >div:last-child
            {
                width: 100%;
                height: 100%;
                border-top: 1px solid $purple;           
                border-right: 0px solid $purple;
                text-align: center;
            }
        }
    } 
    // ----------------------------------------------
    #presentation p 
    {
        width: 70%;
    }
    // ----------------------------------------------
    #faq
    {
        @include flex;
        margin-top: 50px;
        
        >div
        {
            width: 90%;
            
            h3 
            { 
                text-shadow: 2px 1px 2px white;
            }
            
            >div 
            {
                margin-left: 0em;
                margin-right: 0em;
                text-align: center;
                font-family: "playfairb";
                @include flex;
                width: 90%;
                
                .question
                {
                    width: 90%;
                }
                .answer 
                {
                    padding-left: 2em;
                    padding-right: 2em;
                }
            }
            >p:last-child
            {
                margin-top: 1em;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 1.2em;
                text-shadow: 2px 1px 2px white;
                
            }
            
        }
    }
    // ----------------------------------------------
    #review
    {
        margin-top: 5em;
        margin-bottom: min(2em);
        
        h2 
        {
            font-family: "romanesco";
            font-size: 4.5em;
            font-weight: 400;
            text-align: center;
            margin-bottom: 40px;
            margin-left: 0px;
            color:#FFD700;
            text-shadow: 2px 2px 4px rgb(82, 82, 82);
        }   
    }
    // ----------------------------------------------
    .message {
        font-family: "playfairb";
        font-size: 1.2em;
        width: 80%;
        height: 50px;
        left:10%;
        
    }
    #review > div:nth-child(2) .reviewcard > div > a, #review > div:nth-child(2) .reviewcard > div
    {
        @include flex;
    }

}
// ----------------------------------------------
@media screen and (max-width:600px)
{
    header nav > div:nth-child(2) ul li a 
    {
        font-size: 1.7em;
    }
    // ----------------------------------------------
    #profile 
    {
        #infouser
        {
            a, button
            {
                font-size: 2,5em;
            }
        }
        .recipe 
        {         
            >div:first-child 
            {
                >div
                {
                    
                    
                    >p 
                    {
                        font-size: 1.8;
                    }
                    div 
                    {
                        p 
                        {
                            font-size: 2.3em;
                        }
                    }
                }
            }
        }
    }
    // ----------------------------------------------
    #booking
    {
        >div
        {
            
            
            >div:first-child
            {
                flex-direction: column;
                padding-right: 15px;
                padding-left: 15px;
                min-width: 300px;
                
                
                
                ul 
                {
                    width: 80%;
                    margin-top: 20px;
                }
                >div
                {
                    
                    min-width: none !important;
                    width: 90%;
                    margin: 0px;
                    margin-top: 10px;
                    
                    >form 
                    {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        
                    }
                }
            }
            >div:last-child
            {
                width: 100%;
                height: 60vh;
                padding-right: 20px;
                padding-left: 20px;
                h2 
                {
                    font-size: 1.2em ;
                }
            }
        }
    }
    // ----------------------------------------------
    #firstview > div:first-child img 
    {
        height: 280px;
        margin-top: 6em;
    }
    #firstview > div:first-child > div {
        height: 400px;
        width: 300px;
        left: 0em;
        top: -4em;
    }
    #firstview > div:first-child 
    {
        height: 35em;
    }

    #usercategories > div .categorycard 
    {
        min-height: 50px;
        width: 90%;
    }

    #appointment > div > div 
    {
        width: 90%;
        min-width: 250px;
        height: auto;
    }

    #appointment > div > div .appointmentcard
    {
        height: auto;
    }

    #faq > div 
    {
        margin-top: 200px;
    }
    #faq > div h3 
    {
        text-align: center;
        margin-bottom: 10px;
    }

    header nav > div:nth-child(2) ul li
    {
        width: 90%;
    }

    .form h2 
    {
        text-align: center;
    }

    #review > div:nth-child(2)
    {
        height: 350px;
    }
    
}
