#profile
{
    @include flex;
    width: 100%;
    background-image: url(../../public/images/backgroundProfil.jpg);
    background-size: cover;

    #infouser
    {
        margin-bottom: 3em;
        width: 100%;
        @include flex;

        >img 
        {
            margin-top: 2em;
            width: 250px;
            height:250px;
            object-fit: cover;
            border-radius: 50%;
            max-width: 100%;
        }
        h3 
        {
            color: $purple;
            font-family: "amaticSC";
            font-size: 4em;
            text-align: center;
            margin-bottom: 0.8em;

        }

        a 
        {
            font-family: "playfair";
            color: black;
            font-size: 0.8em;
            border: 1px solid black;
            background-color: transparent;
            padding: 0.3em 2em;
            border-radius: 20px;

            &:hover
            {
                @include hover;
            }
        } 

        button
        {
            font-family: "playfair";
            color: black;
            font-size: 0.8em;
            border: 1px solid black;
            background-color: transparent;
            padding: 0.3em 2em;
            border-radius: 20px;
            margin-top: 10px;
            
            &:hover
            {
                cursor: pointer;
                @include hover;
            }
            
        }
    }

    .recipe
    {
        width: 80%;
        border: 1px solid black;
        border-radius: 10px ;
        @include flex($dir: row);
        background-color: white;
        margin-bottom: 3em;

        >div:first-child
        {
            width: 50%;
            height: 100%;
            border-right: 1px solid $purple;
            
            h3 
            {
                font-family: "romanesco";
                font-size: 3.5em;
                font-weight: 400;
                color: $orange;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            p 
            {
                width: 80%;
                margin-left: 30px;
                font-family: "playfair";
                font-size: 1.3em;
                margin-bottom: 2em;
                line-height: 30px
            }
        }
        >div:last-child
        {
            @include flex($just:flex-start);
            width: 50%;
            height: 100%;

            img 
            {
                width: 600px;
                height: 350px;
                object-fit: cover;
            }
            >div
            {
                width: 600px;
                @include flex($dir: row, $just: space-between, $align: flex-start);
                margin-top: 1em;

                >p
                {
                    font-family: "playfair";
                    font-size: 1.3em;
                    margin-bottom: 2em;
                    line-height: 30px;
                    width: 40%;
                }
                div 
                {
                    color: $orange;
                    @include flex;
                    
                    p 
                    {
                        font-family: "amaticSC";
                        font-size: 2em;
                    }
                }
            }
        }

    }
}