#firstview
{
    height: 60em;
    
    div:first-child
    {
        height: 35em;
        @include flex($dir:row);
        background-image: url(../../public/images/vegetable.jpg);
        background-size: cover;
        width: 100%;

        img 
        {
            height: 75%;
            border-radius: 10px;
            box-shadow: 3px 9px 11px 0px rgba(0,0,0,0.8);
        }
        >div
        {
            height:35%;
            width: 26%;
            background-color: white;
            position: relative;
            left: -4em;
            text-align: center;

            h2 
            {
                font-family: "romanesco";
                color: $purple;
                font-size: 2.2em;
                font-weight: lighter;
                margin-top: 16px;
            }
            p
            {
                margin-top: 0.8em;
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                font-size: 1.1em;
                font-family: "playfair";
                margin-bottom: 1.6em;
            }
            a 
            {
                font-family: "playfair";
                background-color: $darkgreen;
                color: white;
                padding: 0.5em 2.4em;
                border-radius: 20px;

                &:hover
                {
                    @include hover;
                }
            }
        }
    }
    >div:nth-child(2)
    {
        height: 16em;
        background-color: $greentea;
        @include flex($just: flex-start);

        h2 
        {
            font-family: "amaticSC";
            font-size: 2.5em;
            margin-top: 1.2em;
        }
        div
        {
            width: 60%;
            @include flex($dir: row, $just: space-between);
            flex-wrap: wrap;
            margin-top: 2.3em;

            a 
            {
                font-family: "playfairb";
                font-size: 1.4em;
                background-color: $darkgreen;
                color: white;
                padding: 0.7em 3.5em;
                border-radius: 10px;
                border: 3px solid $flashygreen;

                &:hover
                {
                    @include hover;
                }
            }
        }
    }
}