$greentea: #E8EFE9;
$darkgreen: #303633;
$flashygreen: #629677;
$orange: #EF8354;
$purple: #9C7A97;

$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);