<footer>
    <div>
        <a href="https://www.facebook.com/marie.barbe.7/">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/marie_barbe_diet/?fbclid=IwAR2WbccydILfSp8__xVdBopUAOTd2lmCJZHXxP_LlfW0URADqqjLA_xpUDA">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/marie-barb%C3%A9-69a94b1b8">
        <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div>
        <div>
            <p>Marie Barbé Diététicienne Nutritionniste Bordeaux</p>
            <p><i class="far fa-copyright"> Copyright 2021 - Tous droits réservés</i></p>
        </div>
        <p>Website created by <a href="https://www.linkedin.com/in/jeremy-dubois-dev/">Dubois Jérémy<img src="{{asset('images/Dlogo.png')}}" alt="Logo Dubois Jérémy"></a></p>
    </div>
</footer>