<footer>
    <div>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
    </div>
    <div>
        <div>
            <p>Marie Barbé Diététicienne Nutritionniste Bordeaux</p>
            <p><i class="far fa-copyright"> Copyright 2021 - Tous droits réservés</i></p>
        </div>
        <p>Website created by <a href="#">Dubois Jérémy<img src="{{asset('images/Dlogo.png')}}" alt="Logo Dubois Jérémy"></a></p>
    </div>
</footer>
    